.text-center{
    text-align: center;
    color: white;
  }
  
  .bg-red{
    background: red;
  }
  
  .mx-auto{
    margin: auto;
  }
  
  .flex{
    display: flex;
  }
  
  .flex-col{
    flex-direction: column;
  }
  
  .items-center{
    align-items: center;
  }

.container{
    border: 2px solid white;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: cadetblue;
    width: 330px;
}

p{
    margin: 0;
    font-size: 10px;
    color: rgb(1, 6, 6);
    position: absolute;
    left: 497px;
    top: 80px;
}